h1, h2, h3, h4, h5, h6, p{
	margin-top: 0;
	margin-bottom: 0;
}
menu{
	margin: 0;
	padding: 0;
}

.wrapper{
	background: #ffffff;
	width: 800px;
	height: 1372px;
	margin: 0 auto;
	outline: 1px solid #00FF00;
}
header{
	height: 118px;
	outline: 1px solid #00FF00;
}
.topic{
	height: 256px;
	outline: 1px solid #00FF00;
	background-color: #1e2735;
}
.sections{
	background-color: #cadbf2;
	height: 827px;
	outline: 1px solid #00FF00;
	padding: 0 70px;
}
footer{
	height: 170px;
	outline: 1px solid #00FF00;
}
main{
	float: left;
	width: 398px;
}
.first{
	height: 240px;
	outline: 1px solid #00FF00;
}
.second{
	height: 323px;
	outline: 1px solid #00FF00;
}
.third{
	height: 264px;
	outline: 1px solid #00FF00;
}
aside{
	float: right;
	width: 261px;
	outline: 1px solid #00FF00;
}
menu{
	height: 270px;
	outline: 1px solid #00FF00;
}
.widget{
	height: 329px;
	outline: 1px solid #00FF00;
}
.advertisment{
	height: 228px;
	outline: 1px solid #00FF00;
}
.clearfix{
	clear: both;
}