/*$cancel: #FF0000;
$return: #00FF00;
$save: #0000FF;

.return{
	background-color: $return;
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 7px;
	display: inline-block;
	width: 150px;
	height: 60px;
	&:hover{
		background-color: #ffff00;
		color: #ff0000;
		font-weight: bold;
	}
}

.cancel{
	@extend .return;
	background-color: $cancel;

}

.save{
	@extend .return;
	background-color: $save;
}*/
/*$color: mix(#7f8bff, #b32600, 70%);*/
$color: mix(yellow, blue, 50%);
$widthP: 50px;
p{
	outline: 1px solid #ff0000;
}

@function widthParagraph($n){
	@return $n*$widthP;
}

/*p {
	width: widthParagraph(5);
}*/

@mixin large-text($size, $weight: normal){
	font: {
		family: Arial;
		size: $size;
		weight: $weight;
	}
	color: #ff0000;

}

h1{
	@include large-text(25px);
}


.cancel{
	background: fade-out($color, .3);
	border: none;
	width: 150px;
	border-radius: 15px;
	padding: 10px 15px;

}

.save{
	@extend .cancel;
	background: fade-in($color, .7);
}

@mixin blue-border($color, $width: 10px){
	border: {
		color: $color;
		width: $width;
		style: dashed;
	}
}

h1{
	@include blue-border(blue, 5px);
}

p{
	@include blue-border(blue);
}

$values: yellow, magenta, cyan;

@mixin colors($text, $background, $border){
	color: $text;
	background-color: $background;
	border-color: $border;
}

h1{
	@include colors($values...);
}

p{
	@if 2+2==3 or 1+2==2 {
		border: 5px solid green;
		background-color: cyan;
	}
}

	$type: save;
	.save, .cancel{
		@if $type == cancel{
			background-color: blue;
		}@else if $type == save{
			background-color: green;
		}@else if $type == delete{
			background-color: red;
		}@else{
			background-color: black;
		}
	}
