body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin: 5px 0;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    flex: 1 100%;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 auto;
        max-width: none;
    }

    h2{
        text-align: center;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }

    .aside {
        order: 1;
        max-width: 300px;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 3;
    }

    h2{
        text-align: left;
    }
}

.aside {
    text-align: center;
}

.contact a {
    text-decoration: none;
    color: #000000;
}

.summary {
    text-align: justify;
}

.footer {
    text-align: center;
}

.footer p {
    font-weight: bold;
}